<div class="parent">
  <nav class="navigation">
    <span class="line line5 vertical"></span>
    <span class="line line6 vertical"></span>
    <h2 class="nav-title">Nav Bar</h2>
    <ul class="items">
      <li class="item">First item</li>
      <li class="item">Second item</li>
      <li class="item">Third item</li>
      <li class="item">Fourth item</li>
      <li class="item">Fifth item</li>
    </ul>
  </nav>
</div>
<div class="content">
  <!--Add your contant here-->
  <h1 class="h1-title">Jasmine</h1>
</div>
<router-outlet />
